*{
    background-color: aquamarine;
}

body~{
    /* modifier la taille */
    font-size: 20px;
}

h1{
    font-size: 50px;
    /* règle de priorité */
    background-color: tomato;
    color: black;
}

section p {
    color: chocolate;
    /* tous les <p> de ma balise <section> */
}
section p:first-child,
section p:last-child{
    color: blue;  /* les <p> comme premier enfant direct de section */
}
section p:nth-child(even){
    color: yellowgreen; /* les <p> en nombre iprairs */
}

section p:nth-child(odd){
    color: rgb(255, 0, 0); /* les <p> en nombre imprairs */
}

section p:nth-child(4){
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.zone {
    border: 2px solid black;
     margin-bottom: 10px; /* mettre des marges extérieures */
     padding: 20px; /* mettre des marges intérieures  */

}

#zone-4{
    border: 4px solid tomato;
    width: 50%; /*modifier la taille d'un blic*/
    height: ;
}