body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.top{
    display: flex;
    justify-content: space-between;
    height: 7em;
    background-color: #2C3E50;
    padding-top: 1em;
    padding-left: 4em;
}

.logo{
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
}

h1{
    color:#2980B9;
}

.contact{
    display: flex;
    flex-direction: column;
}

svg{
    height: 2.5em;
    color: #2C3E50;
    cursor: pointer;
    transition: 70ms ease-in-out;
}

svg:hover{
    transform: scale(1.2);
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 1em;
    padding: 0.5em 0 1em 0;
    justify-content: center;
    background-color: #2980B9;
    margin: 0;
    border-bottom: 0.5em solid #6ACAFC;
}

header li{
    box-sizing: border-box;
    border: 2px white solid;
    border-radius: 8px 0 8px 0;
    background-color: #6ACAFC;
    transition: 50ms;
    cursor: pointer;
    height: 100%;
}

header li:hover{
    background-color: #6afccb;
}

header a{
    display: block;
    padding: 0.2em 0.7em;
    text-decoration: none;
    color: #373F5C;
}

header a:hover{
    color: aliceblue;
}

header a:active{
    color: rgb(124, 124, 124);
}

main{
    background: url(../img/bg.jpg);
    min-height: 70vh;
}

footer{
    height: 3em;
    background-color: #2980B9;
}

.gototop a{
    position: fixed !important;
    right: 1em;
    bottom: 1em;
    display: block;
    height: 5em;
    width: 5em;
    background-color: #27364875;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}